.container {

    /* background: #DC1E0F;
    display: flex;
    width: 100%;

    height: 566px;
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    margin: 50px 0px 50px 0px;
    overflow: hidden; */

    height: 566px;
    background-color: #DC1E0F;
    display: flex;
    justify-content: center;


    padding-left: 70px;
    padding-right: 70px;
}

.desktop {

    padding-top: 46px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.desktop h1 {
    padding-bottom: 40px;
    width: 100%;


}

.listTrend {
    position: relative;
    display: flex;

    height: 402px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carrusel {


    width: 100%;



    display: flex;

    gap: 17.5px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

.carrusel :where(.card .img) {
    display: flex;
    align-items: center;
    justify-content: center;

}

.carrusel .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carrusel .dragging .item {
    cursor: grab;
    user-select: none;
}

.carrusel .item {
    scroll-snap-align: start;
}

.carrusel::-webkit-scrollbar {
    display: none;
}



.item:hover {
    cursor: pointer;
}

.item {
    user-select: none;

    width: 246px;
    height: 402px;

    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px #CCCACA;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    flex-shrink: 0;
}

.item img {
    width: 188px;
    height: 188px;
}


.item h3 {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #5E5E5E;
}

.item h4 {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    color: #5E5E5E;

}

.item p {
    color: rgba(0, 0, 0, 0.72);
    font-family: Roboto Flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

}


.item button {

    border-radius: 50px;
    color: #DC1E0F;
    border: 1px solid #DC1E0F;
    background-color: transparent;
    padding: 5px;
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

}

.buttonleft:hover {
    cursor: pointer;

}

.buttonright:hover {
    cursor: pointer;

}

.item button:hover {
    cursor: pointer;
}

.buttonleft {


    height: 36px;
    width: 36px;


    border-radius: 100%;

    border: none;

    font-size: 2em;
    position: absolute;

    left: -18px;
}

.buttonright {

    height: 36px;
    width: 36px;
    border-radius: 100%;

    border: none;

    font-size: 2em;

    position: absolute;
    right: -18px;


}




.mobile {

    display: none;
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        height: auto;
        padding: 0;
        background-color: red;
        overflow: hidden;

    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;

        width: 100%;
        height: 380px;


    }

    .mobile h1 {
        padding-left: 15px;
        padding-top: 56px;
        padding-bottom: 32px;

    }

    .listTrend {
        padding-left: 16px;
        height: 233px;

    }


    .carrusel {
        width: 100%;
        gap: 8px;

    }


    .item {
        width: 160px;
        height: 233px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 15px;

    }

    .item img {

        width: 99.35px;
        height: 99.55px
    }

    .item h3 {
        font-family: Roboto Flex;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;

    }

    .item h4 {
        font-family: Roboto Flex;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;

    }


    .item p {

        font-family: Roboto Flex;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: center;

    }

    .item button {

        width: 58px;
        height: 16px;
        font-family: Encode Sans;
        font-size: 10px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0px;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

    }





    .dots {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 10px;
        height: 40px;
        background-color: red;


    }

    .dot {
        box-sizing: border-box;
        box-sizing: content-box;
        height: 10px;
        width: 10px;
        border: 1px solid white;
        border-radius: 50px;
        background-color: transparent;
        cursor: pointer;
    }

    .dotActive {
        box-sizing: border-box;
        box-sizing: content-box;
        height: 10px;
        width: 10px;
        border: 1px solid white;
        border-radius: 50px;
        cursor: pointer;
        background: white;
    }


}