.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 378px;
    width: 100%;
    overflow: hidden;

    position: relative;
    flex-direction: column;

    overflow: hidden;
    margin-bottom: 80PX;
}

.img {
    width: 100%;
}

.dots {




    bottom: 19px;

    display: flex;
    justify-content: center;
    width: 100%;

    column-gap: 20px;
    z-index: 10;

    position: absolute;

}

.dot {
    box-sizing: border-box;
    box-sizing: content-box;
    border: white 2px solid;
    border-radius: 10px;

    height: 15px;
    width: 15px;


}

.dot:hover {

    cursor: pointer;

}


.dotactive {
    box-sizing: border-box;
    box-sizing: content-box;
    border: white 2px solid;
    border-radius: 10px;

    height: 15px;
    width: 15px;

    background-color: #FFFFFF;

}


@media (max-width: 768px) {

    .container {

        height: 140px;
        margin-bottom: 40px;


    }


    .img {

        object-fit: cover;
        height: 140px;
        width: 100%;



    }






    .dots {



        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 10px;
        height: 40px;

        bottom: 7px;
    }

    .dot {
        box-sizing: border-box;
        height: 10px;
        width: 10px;
        border: 1px solid #FFFFFF;
        border-radius: 50px;
        background-color: transparent;
        cursor: pointer;
        object-fit: cover;
    }

    .dotactive {
        box-sizing: border-box;
        height: 10px;
        width: 10px;
        border: 1px solid #FFFFFF;
        border-radius: 50px;
        cursor: pointer;
        background: #FFFFFF;
    }



}